#gridcontainer{
	width: 350px;
    height: 400px;
	margin: auto;
    text-align: center;
    font-size: 22px;
	background-color: purple;
	color: black;
	padding: 7px;
	display: grid;
	grid-gap: 8px;
	grid-template-areas:
		'result result result result'
		'add sub mult divi'
		'7 8 9 equal'
		'4 5 6 equal'
		'1 2 3 equal'
		'ac ac 0 equal';
}

.numkey, .opkey{
    background-color: white;
	line-height: 57px;
}

.equation{
    background-color: white;
	line-height: 250px;
}

.clear{
    background-color: white;
	line-height: 57px;
}

.numkey, .opkey, .equation, .clear{
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid white;
}

.display{
	grid-area: result;
    background-color: white;
	height: 40px;
    border: 2px solid white;
	border-radius: 5px;
	line-height: 40px;
}

.operatea{
	grid-area: add;
}

.operates{
	grid-area: sub;
}

.operatem{
	grid-area: mult;
}

.operated{
	grid-area: divi;
}

.num7{
	grid-area: '7';
}

.num8{
	grid-area: '8';
}

.num9{
	grid-area: '9';
}

.num4{
	grid-area: '4';
}

.num5{
	grid-area: '5';
}

.num6{
	grid-area: '6';
}

.num1{
	grid-area: '1';
}

.num2{
	grid-area: '2';
}

.num3{
	grid-area: '3';
}

.equation{
	grid-area: equal;
}

.clear{
	grid-area: ac;
}

.num0{
	grid-area: '0';
}